extends base

block vars
  - var title = 'Verificación de Correo'
  - var description = '¿No recibiste el correo para verificación? ¡No te preocupes!'
  - var bodytag = 'login'

block body
  .container.custom-container
    .va-wrapper
      .view.login-view.container
        if invalid_sp_token
          .row
            .alert.alert-warning.invalid-sp-token-warning
              p.
                Éste link de verificación ya no es valido. Por favor
                solicita un link nuevo en la parte de abajo.

        .box.row

          if !sptoken
            .email-password-area.col-xs-12.large.col-sm-12
              if invalid_sp_token
                p &nbsp;
              else
                .header
                  span.
                    ¿No recibiste tu verificación de cuenta?
              p.
                Ingresa tu email abajo para hacer reset a tu password. Recibiras un email
                que deberás abrir para continuar. Puede que necesites checar la bandeja de spam.

              if error
                .alert.alert-danger.bad-login.form-error
                  p #{error}

              if formErrors
                .alert.alert-danger.bad-login
                  each error in formErrors
                    p #{error.error}

              p &nbsp;

              form.login-form.form-horizontal(method='post', role='form')
                input(name='_csrf', type='hidden', value=csrfToken)

                .form-group.group-email
                  label.col-sm-4 Correo institucional

                  div.col-sm-8
                    input.form-control(placeholder='Correo AXX@itesm.mx o LXX@itesm.mx', required='true', name='email', type='text')

                div
                  button.login.btn.btn-login.btn-sp-green(type='submit') Enviar Correo

          if stormpathConfig.web.login.enabled
            a.forgot(href="#{stormpathConfig.web.login.uri}") Back to Log In
