doctype html
html(lang="en")
	head
		meta(content="http://www.autodom.herokuapp.com" type="og:url")
		meta(meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
		meta(property="og:image" content="img/logo.png")
		meta(meta content="Autodom - Leading Home Automation, Home Automation, Domotics" property="og:description")
		link(rel="shortcut icon" type="image/ico" href="img/logo.png")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
		link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
		link(rel="stylesheet" type="text/css" href="css/style.css")
		link(rel="stylesheet" type="text/css" href="css/animate.css")
		title Sistema de Reservaciones - ITESM
	body
		section.full-height.text-center(id="main-content")
			div.data
				div.col-xs-12.col-md-12.col-sm-12.col-lg-12.center-block.no-float.top-space
					img.animated.fadeInDown.delay-1.med(alt="logo" src="img/logo.png")
					div.animated.fadeIn.delay-2.font1
						h1.big Sitema de Reservaciones para salas de Video
							a(href="/login")
								i.col-md-12.fa.fa-sign-in.fa-3x.small
									h2.font3 Iniciar Sesión
