doctype html
html(lang="en")
  head
    meta(content="http://www.tam.itesm.mx" type="og:url")
    meta(meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    meta(property="og:image" content="/img/logo.png")
    meta(meta content="ITESM Campus Tampico - Vive la cultura emprendedora" property="og:description")
    link(rel="shortcut icon" type="image/ico" href="/img/logo.png")
    link(rel="stylesheet" href="/css/bootstrap.min.css")
    link(rel="stylesheet" href="/css/font-awesome.min.css")
    link(rel="stylesheet" type="text/css" href="/css/style.css")
    link(rel="stylesheet" type="text/css" href="/css/animate.css")
    title Sistema de Reservaciones - ITESM Campus Tampico
  body
  
    block contenido
script(src="https://code.jquery.com/jquery-1.11.3.min.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
