extends ../layout.jade
block contenido
  div.container.col-xs-8.col-sm-8.col-md-6.col-lg-6.center-block.no-float.top-space.text-left.font1
    h1 Panel de Administración
    table.table
      caption Productos Actuales
      thead
        tr
          th #
          th Nombre
          th Descripción
          th Imágenes
          th Acciones
      tbody
            each product in products
              tr
                td= product.id
                td= product.title
                td= product.description
                td #[a.btn(href="#{product.imageUrl}") Ver Imagen]
